.activeLink {
  color: #cfa86e !important;
}
.activeLink:before,
.activeLink:after {
  left: 0 !important;
  width: 100% !important;
}

.nested-active {
  color: #fff !important;
  background: #cfa86e !important;
}
